body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}
header {
  background-color: #006400;
  color: #fff;
  text-align: center;
  padding: 20px;
}
h1 {
  font-size: 36px;
  margin: 0;
}
img {
  max-width: 200px;
  min-height: 100px;
}
.biography {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.biography h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.achievements {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.achievements h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.achievements ul {
  list-style-type: disc;
  padding-left: 20px;
}

.achievements li {
  margin-bottom: 10px;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #006400;
  color: #fff;
  bottom: 0;
  width: 100%;
}
